

# Evaluate Diabetes Dataset

* * *

*Logistic Regression*

* * *

#### 1: Import the dataset

In [1]:
#Import the required libraries
import pandas as pd
import numpy as np

In [2]:
#Import the diabetes dataset
diabetes_data= pd.read_csv('E:\\Melita\\Python\\Assignment_02\\pima-indians-diabetes.data',header= None)

#### 2: Analyze the dataset

In [3]:
#View the first five observations of the dataset
diabetes_data.head()

   0    1   2   3    4     5      6   7  8
0  6  148  72  35    0  33.6  0.627  50  1
1  1   85  66  29    0  26.6  0.351  31  0
2  8  183  64   0    0  23.3  0.672  32  1
3  1   89  66  23   94  28.1  0.167  21  0
4  0  137  40  35  168  43.1  2.288  33  1

#### 3: Find the features of the dataset

In [4]:
#Use the .NAMES file to view and set the features of the dataset
feature_names= ['Preg_count','Plasma_glucose','Diastolic BP','Tricep_skin_fold','serum_insulin','BMI','Diabetes_pedigree',
                'Age','Class']
                
# For Each Attribute: (all numeric-valued)
#  1. Number of times pregnant
# 2. Plasma glucose concentration a 2 hours in an oral glucose tolerance test
# 3. Diastolic blood pressure (mm Hg)
#4. Triceps skin fold thickness (mm)
#5. 2-Hour serum insulin (mu U/ml)
#6. Body mass index (weight in kg/(height in m)^2)
#7. Diabetes pedigree function
#8. Age (years)
#9. Class variable (0 or 1)

In [5]:
#Use the feature names set earlier and fix it as the column headers of the dataset
diabetes_data= pd.read_csv('E:\\Melita\\Python\\Assignment_02\\pima-indians-diabetes.data',header= None,names=feature_names)

In [6]:
#Verify if the dataset is updated with the new headers
diabetes_data.head()

,Preg_count,Plasma_glucose,Diastolic BP,Tricep_skin_fold,serum_insulin,BMI,Diabetes_pedigree,Age,Class
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [7]:
#View the number of observations and features of the dataset
diabetes_data.shape

(768, 9)

#### 4: Find the response  of the dataset

In [8]:
#Select features from the dataset to create the model
x_features= diabetes_data[['Preg_count','Plasma_glucose','Diastolic BP','Tricep_skin_fold',
                          'serum_insulin','BMI','Diabetes_pedigree','Age']]

In [9]:
#Create the feature object
x_features.head()

,Preg_count,Plasma_glucose,Diastolic BP,Tricep_skin_fold,serum_insulin,BMI,Diabetes_pedigree,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33

In [10]:
#Create the reponse object
y_target= diabetes_data[['Class']]

In [11]:
#View the shape of the feature object
x_features.shape

(768, 8)

In [12]:
#View the shape of the target object
y_target.shape

(768, 1)

#### 5: Use training and testing datasets to train the model

In [13]:
#Split the dataset to test and train the model
from sklearn.cross_validation import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x_features,y_target)
print x_train.shape,x_test.shape,y_train.shape,y_test.shape

(576, 8) (192, 8) (576, 1) (192, 1)

F:\Anaconda\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

#### 6: Create a model  to predict the diabetes outcome

In [14]:
# Create a logistic regression model using the training set
from sklearn.linear_model import LogisticRegression
logreg= LogisticRegression()

In [15]:
#Make predictions using the testing set
logreg.fit(x_train,y_train)
logreg.predict(x_test)

F:\Anaconda\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0,
       0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0,
       0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0], dtype=int64)

#### 7: Check the accuracy of the model

In [16]:
#Evaluate the accuracy of your model
from sklearn import metrics
print 'accuracy of model is %.2f ' %metrics.accuracy_score(y_test,(logreg.predict(x_test)))

accuracy of model is 0.70

In [17]:
#Print the first 30 actual and predicted responses
print 'actual:' ,y_test.values[0:30], 'predicted:' ,logreg.predict(x_test)[0:30]

actual: [[0]
 [1]
 [1]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [1]
 [1]
 [0]
 [1]
 [1]
 [0]
 [0]
 [0]
 [0]
 [1]
 [1]
 [0]
 [0]
 [0]
 [1]
 [0]
 [0]
 [0]
 [0]
 [0]
 [1]] predicted: [0 1 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 0 1 1 1 0 0 1 0 0 1 0 0 0]